
@media screen and (min-width: 768px)
{	
	html,body
	{
		padding:0%;
		margin:0%;
		width:100%;
		height:100%;
		font-family: 'Play','Verdana', sans-serif;
	}
	.nav1,.nav2,.nav3
	{
		font-size:20px;
	}
	.upbutton
	{
		background: url("image/up1.png") no-repeat;
    	height: 60px;
    	width: 60px;
    	bottom: 30px;
    	right: 30px;
    	cursor: pointer;
    	display: none;
    	position: fixed;
	}
	.container
	{
		display:flex;
		flex-basis:auto;
		width:100%;
		flex-direction:column;
		height:155%;
	}

	.logo
	{	
		margin-left:1%;
		justify-content:center;
		color:#E1E2E2;
		font-size:250%;
		display:flex;
		flex-direction:column;
		width:30%;
		height:100%;
		animation-name:showLogo;
		animation-duration:3s;
	}
	@keyframes showLogo
	{
		0%{color:#131313;}
		100%{color:#E1E2E2;}
	}
	.underline
	{
		width:232px;
		height:10%;
		display:flex;
		background-color: #9D1B1B;
		animation-name: fill_bar;
		animation-duration:1.5s;
	}
	@keyframes fill_bar
	{
		0%{width:0px;}
		100%{width:232px;}
	}
	header
	{	
		background-color:#131313; 
		min-width: 900px;
		width:100%;
		height:10%;
		display:flex;
		flex-direction: row;
		min-height: 97px;
	}
	.navline
	{
		display:flex;
		flex-basis: auto;
		width:100%;
		height:100%;
		min-height: 97px;
		flex-direction: row;
	}
	.navlist
	{
		margin-top: 25px;
		flex-wrap: nowrap;
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		height:80%;
		width:50%;
	}
	ul.navlist li a
	{
		animation-name:showNav;
		animation-duration:2s;
	}
	nav ul li a,nav ul li a:after,nav ul li a:before
	{
  		transition: all .5s;
	}
	@keyframes showNav
	{
		0%{color:#131313;}
		100%{color:#E1E2E2;}
	}
	.navlist li
	{	
		cursor:pointer;
		margin-top: 2%;
		list-style-type: none;
	}
	.nav1,.nav2,.nav3
	{
		display:flex;
		flex-direction: column;
		height:90%;
	}
	.link_underline
	{
		height:10%;
		width:50px;
	}
	ul
	{
		justify-content: space-between;
	}
	a:hover
	{
		color:#9D1B1B;
		animation-name:show_link_underline;
		animation-duration: 1s;
	}
	a
	{
		color:#E1E2E2;
		text-decoration: none;
	}
	section
	{
		
		display:flex;
		flex-direction:column;
		width:100%;
		height:90%;
		background-image: linear-gradient(0deg,#9D1B2B, #171717);
		min-height: 900px;
		min-width: 900px;
	}
	section h1
	{
		display: flex;
		width: 100%;
		height:5%;
		color:#E1E2E2;
		text-align: center;
	}
	.blocks
	{
		margin-top:10%;
		display:flex;
		flex-direction: row;
		width:100%;
		height:50%;
		justify-content: space-around;
	}
	.block1, .block2, .block3
	{

		animation-name: block_opacity;
		animation-duration: 2s;
	}
	.block1:hover
	{
		transition: 1.5s;
		border-color:#E1E2E2;
	}
	.block2:hover
	{
		transition: 1.5s;
		border-color:#E1E2E2;
	}
	.block3:hover
	{
		transition: 1.5s;
		border-color:#E1E2E2;
	}
	@keyframes block_opacity
	{
		0%{opacity:0%;height:0px;}
		100%{opacity:100%;height:500px;}
	}
	.block1
	{
		border-radius: 10px;
		border: 4px solid #131313;
		text-align: center;
		flex-direction: column;
		background: rgba(225, 226, 226, 0.1);
		display:flex;
		width:400px;
		height:500px;
	}
	.block2
	{
		border-radius: 10px;
		border: 4px solid #131313;
		text-align: center;
		flex-direction: column;
		background: rgba(225, 226, 226, 0.1);
		display:flex;
		width:400px;
		height:500px;
	}
	.block3
	{
		border-radius: 10px;
		border: 4px solid #131313;
		text-align: center;
		flex-direction: column;
		background: rgba(225, 226, 226, 0.1);
		display:flex;
		width:400px;
		height:500px;
	}
	div p
	{
		font-size:25px;
	}
	.button
	{
		justify-content: space-around;
		border-radius: 5px;
		display:flex;
		width: 50%;
		font-size: 18px;
		border:3px solid #E1E2E2;
		padding:7px;
		text-decoration:none;
	}
	.block1 .button,.block2 .button, .block3 .button
	{
		margin: 85% 22.5%;
	}

	.button:hover
	{
		background-color: #E1E2E2;
		color:#131313;
	}
	footer
	{
		text-align:center;
		flex-direction:column;
		min-width: 900px;
		display:flex;
		width:100%;
		height:20%;
		min-height: 200px;
	}
	.footer_main
	{
		display: flex;
		flex-direction: column;
		background-color:#131313; 
		height:80%;
		width:100%;
	}
	.footer_other
	{
		display: flex;
		flex-direction:row;
		text-align:center;
		height:20%;
		width:100%;
		background-color: #171717;
		border-radius: 0px 0px 20px 20px;
	}
	span.contacts
	{
		color:#E1E2E2;
		font-size:50px;
	}
	span.cpr
	{
		width:100%;
		text-align:center;
		color:#E1E2E2;
		font-size:20px;
	}
	ul.footer_line li
	{
		font-size:20px;
		list-style-type: none;
		cursor: pointer;
	}
	.contacts
	{
		animation-name:contacts;
		animation-duration:2s;
	}
	@keyframes contacts
	{
		0%{color:#131313;}
		100%{color:#E1E2E2;}
	}
	ul.footer_line a
	{
		animation-name:showFooter;
		animation-duration:2s;
		cursor:default;
	}
	@keyframes showFooter
	{
		0%{color:#131313;}
		100%{color:#E1E2E2;}
	}
	
}
@media screen and (max-width:768px)
{
	html,body
	{
		padding:0;
		margin:0;
		width:100%;
		height:140%;
		font-family: 'Play','Verdana', sans-serif;
	}
	.container
	{
		display:flex;
		flex-basis:auto;
		width:100%;
		flex-direction:column;
		height:100%;
	}
	.logo
	{	
		margin-left:2%;
		margin-top:1px; 
		justify-content:flex-start;
		color:#E1E2E2;
		font-size:25px;
		display:flex;
		flex-direction:column;
		width:40%;
		height:100%;
	}
	ul
	{	
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	a
	{
		color:#E1E2E2;
		text-decoration: none;
	}
	.upbutton
	{
		display:none;
	}
	.navline
	{
		height: 100%;
		width:100%;
		display:flex;
		flex-direction: row;
	}
	.navlist
	{
		margin-top: 5px;
		font-size:15px;
		height:80%;
		width:60%;
		display:flex;
		flex-direction:column;
		justify-content: space-around;
		list-style-type: none;
	}
	header
	{	
		min-height: 71px;
		display:flex;
		flex-direction:row;
		background-color: #131313;
		font-size:12px;
		width:100%;
		height:5%;
	}
	section
	{
		min-height: 945px;
		flex-direction: column;
		display:flex;
		font-size:12px;
		width:100%;
		height:85%;
		background-image: linear-gradient(0deg,#9D1B2B, #171717);
	}
	section h1
	{
		font-size:14px;
		display:flex;
		width:100%;
		height:15%;
		color:#E1E2E2;
		text-align:center;
	}
	.blocks
	{
		min-height: 675px;
		margin-top:30%;
		display:flex;
		flex-direction: column;
		width:100%;
		height:50%;
		align-items: center;
		justify-content: space-around;
	}
	.block1 .button,.block2 .button, .block3 .button
	{
		display: block;
		margin: 15% 32.5%;
	}
	.button
	{
		justify-content: space-around;
		border-radius: 5px;
		display:flex;
		width: 30%;
		font-size: 12px;
		border:3px solid #E1E2E2;
		padding:7px;
		text-decoration:none;
	}
	.block1,.block2,.block3
	{
		font-size: 15px;
		height:30%;
		width:70%;
	}
	.block1
	{
		border-radius: 30px;
		border: 4px solid #131313;
		text-align: center;
		flex-direction: column;
		background: rgba(225, 226, 226, 0.1);
		display:flex;
	}
	.block2
	{
		border-radius: 30px;
		border: 4px solid #131313;
		text-align: center;
		flex-direction: column;
		background: rgba(225, 226, 226, 0.1);
		display:flex;
	}
	.block3
	{
		border-radius: 30px;
		border: 4px solid #131313;
		text-align: center;
		flex-direction: column;
		background: rgba(225, 226, 226, 0.1);
		display:flex;
	}
	.contacts
	{
		color:#E1E2E2;
		font-size:12px;
		height: 20%;
		width:100%;
	}
	.footer_line
	{
		padding:0;
		height:40%;
		width:100%;
		list-style-type:none;
		display:flex;
		flex-direction:column;
	}
	.footer_main
	{
		min-height: 50px;
		display:flex;
		flex-direction:column;
		justify-content: center;
		height:80%;
		width:100%;
	}
	.footer_other
	{
		min-height: 16px;
		width:100%;
		height:20%;
		text-align:center;
		color:#E1E2E2;
		font-size:14px;
		background-color: #171717;
	}
	footer
	{	
		min-height: 66px;
		list-style-type: none;
		display:flex;
		flex-direction:column;
		background-color: #131313;
		font-size:12px;
		width:100%;
		height:10%;
	}


}